
#banner_wrap {
	position:static;
	display:block;
	width:600px;
	height:900px;
	margin:0px auto;
	background:top center no-repeat url('../images/banner_bg2.jpg');
	margin-bottom:10px;
	z-index:50;
	}	
    
#imgs{	  
  position:relative;
  width:583px;
  float:right;
  height:782px;
  display:block;
  right:10px;
  top:65px;
  background-color:#333;
  }	
  
#banner_wrap .prev, #banner_wrap .next{
	display:block;
	width:200px;
	height:700px;
	cursor:pointer;
	}
    
#banner_wrap .prev{
	position:absolute;
	z-index:5;
	top:50px;
	left:20px;
	}
#banner_wrap .next{
	position:absolute;
	z-index:5;
	top:50px;
	left:370px;
	}

