
small{
	font-size:11px;
	}
	
h2{
	color:#383838;
	font-size:26px;
	}


#banner_wrap5 {
	position:static;
	display:block;
	width:962px;
	height:900px;
	margin:0px auto;
	background: no-repeat center url(../images/japan.jpg);
	margin-bottom:0px;
	z-index:100;
	
} 	

/*  ITEMS BOX/**/  
.nav {
margin-left:50px;
margin-top:50px;  
width: 150px;  
} 
/* texto visible/**/   
.nav a {
	display: block;
	position: relative;
	width: 150px;
	color: #333333;
	background-color: #FFF;
	margin-bottom: 8px;
	padding: 8px;
	text-decoration: none;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px #CCC solid;
}  
/* aiuta IE/Mac (rel lh) *//*/ 
.linkinside { 
display: block; 
} 
/**/ 

/* Texto al pasar**/  
.nav a:hover {
	color: #FFF;
	width: 150px; /* IE */
	background-color: #999999;
}  
/* POP UP/**/   
#nav1 a .pop {  
    display: block;  
    color: #000;  
    background-color: #FFFFFF;  
    width: 300px;  
    padding: 8px;   
    position: absolute;  
    top: 0px;  
    left: 200px;  
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   border: 2px #CCC solid;
   z-index: 10px; /* Saf */  
   visibility: hidden;  
}  

/* pop al pasar**/  
#nav1 a:hover .pop {  
visibility: visible;  
}  
  

	