﻿body {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	color: #707070;
	margin: 0;
	padding: 0;
	background:#FFF;
}
/********************************************************************************************** GLOBAL STYLES */

h1{
	color:#383838;
	font-size:28px;
	}
h2{
	color:#383838;
	font-size:26px;
	}
h3{
	color:#383838;
	font-size:18px;
	}
h4{
	color:#383838;
	font-size:16px;
	}
h5{
	color:#383838;
	font-size:14px;
	}
h6{
	color:#383838;
	font-size:12px;
	}

small{
	font-size:11px;
	}
b2 {
	font-size: 9px bold;
	color: #006699;
	}
b3 {
	font-size:10px;
	color: #666666;
	}
b, strong{
	font-weight:bold;}
i, em{
	font-style:italic;
	}
p{
	padding:15px 0px 15px 0px;
	line-height:18px;
	}
.fleft{ float:left;}
.fright{ float:right;}
.alignright{
	float:right;
	margin: 3px 0px 10px 10px;

	}
.alignleft{
	float:left;
	margin: 3px 10px 10px 0px;
	}


#content ul, ol{
	position:relative;
	margin:10px 0px;
	}
#content ul li, ol li{
	padding:5px 0 0 5px;
	margin:0 0 0 30px;
	}
#content ul li{
	list-style-type:disc;
	}
#content ol li{
	list-style-type: decimal;
	}

#content table{
	width:100%;
	border-collapse:collapse;
	margin-top:10px;
	}
#content table tr th{
	background-color:#5B5B5B;
	color:#FFF;
	padding:5px;
	text-align:center;
	border:1px #d6d6d6 solid;
	}
#content table tr td{
	background-color:#FFFFFF;
	padding:5px;
	text-align:left;
	border:1px #d6d6d6 solid;
	}


#main-container{
	width:962px;
	margin:0px auto 0px auto;
	display:block;

	}

/********************************************************************************************** Header */

#header{
	position: absolute;
	display: block;
	width: 962px;
	height: 93px;
	margin: 0px auto;
	top: 2px;
	}


.logo2 {
	position: relative;
	display: block;
	top: 100px;
	left: 0px;
	width: 306px;
	height: 300px;
	background: url('../images/logo5.png') no-repeat 50% 0%;
	z-index: 99;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;

	}



.logo_link{
	position: absolute;
	width: 400px;
	height: 135px;
	top: 41px;
	left: 47px;
	}
    .espanol3_link{
	position:absolute;
	width:40px;
	height:40px;
	top:150px;
	left:700px;

	}


     .espanol_link{
	position: absolute;
	width: 40px;
	height: 40px;
	top: 150px;
	left: 770px;
	}
     .nihongo_link{
	position:absolute;
	width:40px;
	height:40px;
	top:150px;
	left:828px;

	}
     .portugues_link{
	position:absolute;
	width:40px;
	height:40px;
	top:150px;
	left:890px;

	}

  	 .espanoli_link{
	position: absolute;
	z-index: 5;
	top: 40px;
	left: 457px;
	display: block;
	width: 30px;
	height: 60px;
	cursor: pointer;
	}
	 .nihongoi_link{
	position: absolute;
	z-index: 5;
	top: 41px;
	left: 520px;
	display: block;
	width: 30px;
	height: 60px;
	cursor: pointer;
	}
	 .portuguesi_link{
	position: absolute;
	z-index: 5;
	top: 40px;
	left: 582px;
	display: block;
	width: 30px;
	height: 60px;
	cursor: pointer;
	}

	.prev6{
	position: absolute;
	z-index: 5;
	top: 115px;
	left: -20px;
	display: block;
	width: 35px;
	height: 60px;
	cursor: pointer;
	}

	.prom{
	position: absolute;
	z-index: 5;
	top: 25px;
	left: -1px;
	display: block;
	width: 300px;
	height: 158px;
	cursor: pointer;
	}
	.nov{
	position: absolute;
	z-index: 5;
	top: 25px;
	left: 0px;
	display: block;
	width: 300px;
	height: 157px;
	cursor: pointer;
	}

   .camp{
	position: absolute;
	z-index: 5;
	top: 24px;
	left: 2px;
	display: block;
	width: 180px;
	height: 166px;
	cursor: pointer;
	}

	 .pp1{
	position: absolute;
	z-index: 5;
	top: 15px;
	left: 5px;
	display: block;
	width: 340px;
	height: 107px;
	cursor: pointer;
	}


	 .pp2{
	position: absolute;
	z-index: 5;
	top: 23px;
	left: 27px;
	display: block;
	width: 159px;
	height: 105px;
	cursor: pointer;
	}

	 .pp3{
	position: absolute;
	z-index: 5;
	top: 26px;
	left: 240px;
	display: block;
	width: 154px;
	height: 103px;
	cursor: pointer;
	}

	 .pp4{
	position: absolute;
	z-index: 5;
	top: 21px;
	left: 445px;
	display: block;
	width: 151px;
	height: 106px;
	cursor: pointer;
	}




	.fb{
	position: absolute;
	z-index: 5;
	top: 38px;
	left: 507px;
	display: block;
	width: 419px;
	height: 97px;
	cursor: pointer;
	}

	.mail{
	position: absolute;
	z-index: 5;
	top: 26px;
	left: 421px;
	display: block;
	width: 169px;
	height: 76px;
	cursor: pointer;
	}


/********************************************************************************************** Menu */
#menu_wrap {
	display: block;
	width: 962px;
	height: 100px;
	margin: 0px auto;

	z-index: 1;
	}
#menu_wrap  a.current{
		/* styles in template_style.css */
	}
/* - more styles for menu are in in superfish.css - */

/********************************************************************************************** Banner */
#banner_wrap {
	position:static;
	display:block;
	width:962px;
	height:300px;
	margin:0px auto;
	background:top center no-repeat url('../images/banner_bg.jpg');
	margin-bottom:0px;
	z-index:100;


	}
/********** styles for banner text slideshow */
#description{
	height:350px;
	width:340px;
	display:inline;
	margin:10px 0 0 30px;
	z-index:100;
	float:left;
	}
#description h2{
	/* styles in template_style.css */
	}

#description h3{
		/* styles in template_style.css */
		}

#slideshow2 ul li{
	  display:block;
	  width:615px;
	  height:320px;
	  margin-left:30px;
	  float:left;
      margin-top:30px; /* distancia del texto al top */
	}

#description .readmore{
	display: inline-block;
	width:120px;
	height:40px;
	background:top center no-repeat url('../images/prod2.png');
	margin-right:5px;
	margin-top:70px;
	}
#description .see_portfolio{
	display: inline-block;
	width:120px;
	height:30px;
	background:top center no-repeat url('../images/prod2.jpg');
	margin-right:5px;
    margin-top:70px;
	}

/********** styles for banner images slideshow */
#imgs{
  position:relative;
  width:962px;
  float:right;
  height:300px;
  display:block;
  right:0px;
  top:0px;
  }


#banner_wrap .prev, #banner_wrap .next{
	display: block;
	width: 70px;
	height: 55px;
	cursor: pointer;
	}

#banner_wrap .prev{
	position: absolute;
	z-index: 5;
	top: -387px;
	left: -381px;
	}
#banner_wrap .next{
	position:absolute;
	z-index:5;
	top:120px;
	left:827px;
	}

/********************************************************************************************** Banners for subpages */
#small_banner_wrap{
	display:block;
	width:932px;
	height:90px;
	margin-top:10px;
	margin-bottom:0px;
	font-size:18px;
	color:#bfc2c8;
	padding:40px 0 0 30px;
	}
.banner_about{
	background:top center no-repeat url('../images/small_banner_about.jpg')
	}
.banner_blog{
	background:top center no-repeat url('../images/small_banner_blog.jpg')
	}
.banner_portfolio{
	background:top center no-repeat url('../images/small_banner_portfolio.jpg')
	}
.banner_contact{
	background:top center no-repeat url('../images/small_banner_contact.jpg')
	}
.banner_provenzal{
	background:top center no-repeat url('../images/provenzal.jpg')
	}
.banner_arezo{
	background:top center no-repeat url('../images/arezo.jpg')
	}
.banner_gloria{
	background:top center no-repeat url('../images/gloria.jpg')
	}
.banner_tabernero{
	background:top center no-repeat url('../images/tabernero.jpg')
	}
.banner_kikko{
	background:top center no-repeat url('../images/kikko.jpg')
	}
.banner_wasska{
	background:top center no-repeat url('../images/wasska.jpg')
	}
.banner_universal{
	background:top center no-repeat url('../images/universal.jpg')
	}
.banner_incasur{
	background:top center no-repeat url('../images/incasur.jpg')
	}
.banner_inkacrops{
	background:top center no-repeat url('../images/inkacrops.jpg')
	}
.banner_lindley{
	background:top center no-repeat url('../images/lindley.jpg')
	}
.banner_hornimans{
	background:top center no-repeat url('../images/hornimans.jpg')
	}
.banner_perucheff2{
	background:top center no-repeat url('../images/perucheff2.jpg')
	}
.banner_perucheff{
	background:top center no-repeat url('../images/perucheff.jpg')
	}
.banner_cusquena{
	background:top center no-repeat url('../images/cusquena.jpg')
	}
.banner_negusa{
	background:top center no-repeat url('../images/negusa.jpg')
	}
.banner_otros{
	background:top center no-repeat url('../images/prod_b.jpg')
	}
.banner_promo{
	background:top center no-repeat url('../images/promocion_3.jpg')
	}
.banner_recetas{
	background:top center no-repeat url('../images/recetas.jpg')
	}
.banner_productos{
	background:top center no-repeat url('../images/prod_b.jpg')
	}
.banner_banner{
	background:top center no-repeat url('../images/banner.jpg')
	}
.banner_paneton{
	background:top center no-repeat url('../images/pan_b.jpg')
	}
.banner_evento{
	background:top center no-repeat url('../images/event_b.jpg')
	}
.banner_inscripcion{
		background:top center no-repeat url('../images/inscrip.jpg')
	}
.banner_menestras{
	background:top center no-repeat url('../images/menestras.jpg')
	}
.banner_condimentos{
	background:top center no-repeat url('../images/condimentos.jpg')
	}
.banner_cartavio{
	background:top center no-repeat url('../images/cartavio.jpg')
	}
.banner_cotuba{
	background:top center no-repeat url('../images/cotuba.jpg')
	}
.banner_funada{
	background:top center no-repeat url('../images/funada.jpg')
	}
.banner_404{
	background:top center no-repeat url('../images/small_banner_404.jpg')
	}
.banner_baratito{
	background:top center no-repeat url('../images/baratito.jpg') }
.banner_bar{
	background:top center no-repeat url(/images/bar/bar.jpg) }
.banner_intipalka{
	background:top center no-repeat url(../images/intipalka.jpg) }


/**********************************************************************************************  Content */
#content_wrap{
	position: relative;
	display: block;
	width: 962px;
	padding: 1px 0px 30px 0px;
	margin-bottom:10px;
	clear:both;
	}
#content_wrap2{
	position:relative;
	display:block;
	width:962px;
	padding:1px 1px 1px 1px;
	margin-top:5px;
	}
#content_wrap3{
	position: relative;
	display: inline;
	width: 300px;
	height: 150px;
	margin-left: 100px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 4px #CCC solid;
	}
#content_wrap4{
	position: relative;
	display: block;
	width: 962px;
	padding: 50px 0px 30px 0px;
	}
#content{
	display:block;
	width:560px;
	float:left;
	margin-left:25px;
	margin-top:20px;
	}
#content_2{
	display:block;
	width:500px;
	float:left;
	margin-left:25px;
	margin-top:25px;
	}
#content_5{
	background-image:url(../images/2017/es_anuncio_2016.png);
	background-position:center;
	background-repeat:no-repeat;
	display:inline;
	width:1200px;
	height:1047px;
	float:left;
	margin-left:25px;
	margin-top:20px;
	}

#box2 {
	position: relative;
	display: inline-block;
	top:10px;
	margin-bottom:10px;
	left: 30px;
	width: 615px;
	height: 145px;
	border-bottom:1px #CCC solid;
	}

#box3 {
	position: relative;
	display: inline-block;
	top: 20px;
	margin-bottom:20px;
	left: 30px;
	width: 300px;
	height: 200px;
	background-color:#FFFFFF;
	border:1px #CCC solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
	}

#box4 {
	position: relative;
	display: inline-block;
	top:10px;
	margin-bottom:10px;
	left: 30px;
	width: 615px;
	height: 140px;
	border-bottom:1px #CCC solid;
	}
#content img{
	border: 1px #FFF solid;
	padding-bottom:10px;
	}


.content_box1{
	background:top center no-repeat url('../images/2017/es_home_botonera2017.jpg');
	display: inline;
	width: auto;
	float: left;
	margin-left: 10px;
	z-index: 99;
	}
	.content_box1j{
	background:top center no-repeat url('../images/2017/botonera-jp2017.jpg');
	display: inline;
	width: auto;
	float: left;
	margin-left: 10px;
	z-index: 99;
	}
	.content_box1p{
	background:top center no-repeat url('../images/2017/po_home_botonera2017.jpg');
	display: inline;
	width: auto;
	float: left;
	margin-left: 10px;
	z-index: 99;
	}
	.content_box2{
	background:top center no-repeat url('../images/banner2.jpg');
	display: inline;
	width: auto;
	float: left;
	margin-left: 10px;
	z-index: 99;
	}
	.content_boxjap{
	background:top center no-repeat url('../images/bannerjap.jpg');
	display: inline;
	width: auto;
	float: left;
	margin-left: 10px;
	z-index: 99;
	}

	.content_boxport{
	background:top center no-repeat url('../images/bannerport.jpg');
	display: inline;
	width: auto;
	float: left;
	margin-left: 10px;
	z-index: 99;
	}

.content_box3{
	background:top center no-repeat url('../images/campanha-4.jpg');
	display: inline;
	width: auto;
	float: left;
	margin-left: 10px;
	z-index: 99;
	}
.content_box4{
	background:top center no-repeat url('../images/promos13.jpg');
	display: inline;
	width: auto;
	float: left;
	margin-left: 10px;
	z-index: 99;
	}
.content_box5{
	background:top center no-repeat url('../images/contacto12.jpg');
	display: inline;
	width: auto;
	float: left;
	margin-left: 10px;
	z-index: 99;
	}
.content_box6{
	background:top center no-repeat url('../images/2015.jpg');
	display: inline;
	width: auto;
	float: left;
	margin-left: 10px;
	z-index: 99;
	}
.content_bg_nosidebar{
	background: repeat-y url('../images/content_bg_white.jpg');
 	}
.content_bg_nosidebar2{
	background: repeat-y url('../images/content_bg_black.jpg');
}
.corners_top_nosidebar{
	position: absolute;
	top: -13px;
	left: 17px;
	display: block;
	width: 962px;
	height: 10px;
	background: #F2F2F2 center bottom  no-repeat url('../images/top_corners.jpg');
	}
.corners_bottom_nosidebar{
	position: absolute;
	bottom: -13px;
	left: 3px;
	display: block;
	width: 962px;
	height: 11px;
	background: #F2F2F2 center  top no-repeat url('../images/bottom_corners.jpg');
	}

.content_bg_sidebar{
	background: #FFFFFF;

 	}

.corners_top_sidebar{
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	width: 962px;
	height: 10px;
	background-color: #CCCCCC;
	background-image: url(../images/top_corners_subpage.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	}

.corners_bottom_sidebar{
	position: absolute;
	bottom: -21px;
	left: 36px;
	display: block;
	width: 962px;
	height: 11px;
	background: #F2F2F2 center  top no-repeat url('../images/bottom_corners_subpage.jpg');
	}
/********************************************************************************************** Portfolio */
.corners_top_portfolio{
	position: absolute;
	top: 6px;
	left: 0px;
	display: block;
	width: 947px;
	height: 33px;
	padding: 15px 0px 0px 15px;
	background: #FFFFFF;
	border-bottom: 1px #CCC solid;
	}
.corners_top_portfolio a{
	padding: 0px 15px 15px 15px;
	display:block;
	float:left;
	}

.corners_top_portfolio a:hover, .corners_top_portfolio a.on{
	padding: 0px 15px 16px 15px;
	display:block;
	float:left;
	color:#000;
	background:bottom center no-repeat url('../images/portfolio_menu_mark.jpg');
	}
.corners_top_portfolio .submenu_title{
	float:left;
	padding: 0px 15px 16px 15px;
	display:block;
	float:left;
	color:#686a6f;
	}

.project{
	padding-bottom:100px;
	margin-top:10px;
    left:40px
	width:860px;
	text-align:center;
	}
.project table tr td{
	vertical-align:top;
	text-align:center;
	}
.project table tr td.image a img{
	/* styles in template_style.css */
	}
.project table tr td.image a img:hover{
	/* styles in template_style.css */
	}
.project table tr td.break{
	width:20px;
	}
.project table tr td.description{
	vertical-align:text-top;
	}

/********************************************************************************************** Sidebar */
.sidebar_box{
	display: inline;
	width: 250px;
	float: left;
	margin-left: 30px;
	margin-top:30px;
	z-index: 99;
	/*clear:both;*/
	}

.top_margin{
	margin-top:20px;
	}
.sidebar_box h2{
	color: #383838;
	font-size: 21px;
	padding-bottom: 5px;
	border-bottom: 1px #CCC solid;
	}
p.recent_post{
	padding-left: 185px;
	padding-top: 110px;
	padding-bottom: 1px;
	width: 130px;
	}
p.recent_post2{
	padding-top:5px;
	padding-bottom:5px;
	border-bottom:1px #CCC solid;

	}
p.recent_post3{
	padding-left: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 130px;
	}
#sidebar{
	width: 340px;
	display: block;
	float: right;
	border-left:1px #999 solid;
	/*clear:both;*/
	}

.sub_menu a{
	display:block;
	width:235px;
	padding:10px 10px 10px 35px ;
	border-bottom:1px #CCC solid;
	}
.sub_menu a:hover{
	/* styles in template_style.css */

	}

.box_t{
	display: inline;
	width: 160px;
	float: right;
	margin-top:0px;
	z-index: 99;
	}
.box_tt{
	background:url(../images/anuncio.jpg)
	display: inline;
	width: 160px;
	float: right;
	margin-top:0px;
	z-index: 99;
	}

.box_t a {
	color: #ED4022;
    }


/********************************************************************************************** Blog */
.post{
	padding-bottom:20px;
	margin-bottom:20px;
	border-bottom:1px #CCC solid;
	}
.entry{}
.postmeta .link_one{
	/* styles in template_style.css */
	}
.postmeta .link_two{
	/* styles in template_style.css */
	}
.postmeta .link_one:hover,.postmeta .link_two:hover{
	/* styles in template_style.css */
	}
.clear{
	position:relative;
	display:block;
	width:930px;
	height:10px;
	clear:both;
	}

.clear2{
	position:relative;
	display:block;
	width:500px;
	height:10px;
	clear:both;
	}

.clear3{
	position:relative;
	display:block;
	width:930px;
	height:30px;
	clear:both;
	}

/********************************************************************************************** Contact Form */
span.red{
	color:#F00;}
.message{
	display:block;
	width:90%;
	padding:10px;
	margin:0px auto;
	color:#FFF;
	background-color:#2E3138;
	border:1px #999 solid;
	text-align:center;
	font-size:16px;
	}
#commentForm {
	width: 563px;
	background-color:#F9F9F9;

	}
#commentForm label.error {
	width: 250px; text-align:left;  color: #F00; font-size:12px;
	}
#commentForm label.error{
	display:block;
	}

#commentForm input.submit:hover {
 	background-color:#000000;
	}
table.quote-form {
	margin:20px 0px;

	}
table.quote-form tr td{
	border:0px!important;
	background-color:#F9F9F9!important;
	}
table.quote-form tr td.field-name{
	width:150px;
	padding:12px;
	text-align:right;

	}
table.quote-form input, table.quote-form select, table.quote-form textarea{
	width:330px;
	background-color:#F2F2F2;
	border:1px #C5C5C5 solid;
	padding:5px;
	}
table.quote-form select{
	width:342px;
	background-color:#F2F2F2;
	}
table.quote-form textarea{
	width:330px;
	height:200px;
	background-color:#F2F2F2;
	border:1px #C5C5C5 solid;
	padding:5px;
	}
table.quote-form .submit{
	/* styles in template_style.css */
	}
table.quote-form .submit:hover{
	/* styles in template_style.css */
	}



/********************************************************************************************** Footer */


#footer_wrap{
	margin-top:20px;
	position:relative;
	display:block;
	width:962px;
	clear:both;
	}
#top_footer{
	position: relative;
	display: block;
	width: 940px;
	padding: 5px 1px 20px 20px;
	background-image: url('../images/kuro_neko.jpg');
	background-repeat: no-repeat;
	border: 1px #CCC solid;
	background-color: #FFFFFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index: 99;
	height: 130px;
	clear:both;
	}
#otros{
	position:relative;
	display: inline;
	width:419px;
	margin-right:0px;
	float:left;
	padding-right:30px;
	border-right:1px #CCC solid;
	}
#otros table tr td{
	vertical-align:top;
	}
#otros table tr td.prod{
	width:170px;
	}
#get_connected{
	position:relative;
	display: inline;
	width:420px;
	margin:0px 30px 0px 0px;
	padding-left:30px;
	float:right;
	}



#bottom_footer{
	position:relative;
	display:block;
	width:962px;
	height:90px;
	font-size:12px;
	color: #999;
	margin:-5px 0 0 0; /* IE6 */
	padding:10px 0px;
	background: ##FEFFFA;
	}
#bottom_footer a{
	color:#999;
	text-decoration:none;
	}
#bottom_footer a:hover{
	color:#000;
	}
#top_button{
	display:block;
	top:0px;
	left:467px;
	position:absolute;
	width:29px;
	height:17px;
	font-size:9px;
	padding:8px 0 0 0;
	text-align:center;
	background: top no-repeat url('../images/top_bt.jpg');
	}
#bottom_footer a#top_button{
	color: #CCC;
	text-decoration:none;
	}
#bottom_footer a#top_button:hover{
	color:#FFF;
	text-decoration:none;
	}
#footer_menu{
	position: absolute;
	display: block;
	padding: 1px;
	top: 10px;
	right: 24px;
	width: 295px;
	}

/********************************************************************************************** mapa */

#banner_wrap5 {
	position:static;
	display:block;
	width:962px;
	height:750px;
	margin:0px auto;
	background: no-repeat center url(../images/act.jpg);
	margin-bottom:0px;
	z-index:100;

}

/*  ITEMS BOX/**/
.nav {
margin-left:50px;
margin-top:40px;
width: 120px;
}
/* texto visible/**/
.nav a {
	display: block;
	position: relative;
	width: 120px;
	color: #333333;
	background-color: #FFF;
	margin-bottom: 3px;
	padding: 3px 10px;
	text-decoration: none;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px #CCC solid;
}
/* aiuta IE/Mac (rel lh) *//*/
.linkinside {
display: block;
}
/**/

/* Texto al pasar**/
.nav a:hover {
	color: #FFF;
	width: 120px; /* IE */
	background-color: #999999;
}
/* POP UP/**/
#nav1 a .pop {
    display: block;
    color: #000;
    background-color: #FFFFFF;
    width: 500px;
    padding: 3px;
    position: absolute;
    top: 0px;
    left: 200px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   border: 2px #CCC solid;
   z-index: 10px; /* Saf */
   visibility: hidden;
}

/* pop al pasar**/
#nav1 a:hover .pop {
visibility: visible;
}

.product{
	padding: 50px 25px;
	display:flex;
	justify-content: space-around;
}
.item_product{

}

.name_product{
	display: block;
	text-align: center;
	font-size: small;
}
