/********************************************************************************************** GLOABAL STYLES */

/*** main colors for links ***/
a{
	color:#768ab5;
	text-decoration:none;
	}
a:hover{
	color: #000;
	
	}

/********************************************************************************************** Menu*/
#menu_wrap  a.current{
	color:#000;
	}
	
.recent_post2 a.current{
	color:#000;
	}
/********************************************************************************************** HOME PAGE BANNER TEXT AREA STYLES */
#small_banner_wrap{
	color:#bfc2c8; /* tagline coloe */
	}
/********** styles for banner text slideshow */
#description{
	color:#00000;
	}
#description h2{
	color:#0033cc;
	font-size:55px;
	font-weight:bold;
	}
	
#description h3{
	color:#0033cc;
	font-size:35px;
	font-weight:bold;
	}	
/********************************************************************************************** POSTS LINK READ MORE TEXT COLOR */	
.post .entry_link{
	color:#FFF;
	}
/********************************************************************************************** PORTFOLIO IMAGE HOVER */	
.project table tr td.image a img{
	border:2px #CCC solid;
	}	
.project table tr td.image a img:hover{
	border:2px #CCFFFF solid;
	}		
/********************************************************************************************** SIDEBAR SUB MENU HOVER */	
.sub_menu a:hover{
	background-color:#0000;
	color:#FFF;
	}
	

/********************************************************************************************** Blog */	
.postmeta .link_one{
	display:inline;
	padding:5px 10px;
	background-color:#33373e;
	color:#FFF;
	}
.postmeta .link_two{
	display:inline;
	padding:5px 10px;
	background-color:#64666c;
	color:#FFF;
	}
.postmeta .link_one:hover,.postmeta .link_two:hover{
	background-color:#000;
	color:#FFF;
	}
/********************************************************************************************** CONTACT FORM SUBMIT BUTTON SYLES */
table.quote-form .submit{
	width:79px;
	height:30px;
	display:block;
	border:0px;
	padding:0px;
	background-color:#2E3138;
	color:#FFF;
	cursor:pointer;
	}
table.quote-form .submit:hover{
	background-color:#000;	
	}	