<script language="JavaScript">
  function Abrir_ventana (pagina) {
  var opciones="toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=yes, width=650, height=1010, top=85, left=140";
  window.open(pagina,"",opciones);
  }
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="js/jCarousel/jcarousellite_1.0.1.pack.js"></script>
<script type="text/javascript">
$(function() {
  $("#slideshow").jCarouselLite({
    btnNext: ".next",
    btnPrev: ".prev",
    horizontal: true ,
    speed: 500,
    auto:4000,
    visible: 1
  });

   $("#slideshow2").jCarouselLite({
    btnNext: ".next",
    btnPrev: ".prev",
    visible: 1,
    auto:4000,
    speed:500
  });
});
</script>
<script type="text/javascript" src="js/hoverIntent.js"></script>
<script type="text/javascript" src="js/superfish.js"></script>
<script type="text/javascript">
// initialise plugins
jQuery(function(){
  jQuery('ul.sf-menu').superfish();
});
