extends layout/base
block content
  include blocks/menu.pug
  .main-container  
    #banner_wrap
      #imgs
        a.prev
        a.next
        #slideshow
          ul
            li
              img(src='images/banner/full17.jpg', alt='screenshot', width='962', height='300')
            li
              img(src='images/banner/full20.jpg', alt='screenshot', width='962', height='300')
            li
              img(src='images/banner/full14.jpg', alt='screenshot', width='962', height='300')
            li
              img(src='images/banner/full13.jpg', alt='screenshot', width='962', height='300')
      // sidebar
      #content_wrap.content_bg_nosidebar
        .clear
        .sidebar_box
          h2 PRODUCTOS
          p.recent_post2
            a(href='provenzal.html') PROVENZAL
            br
            small Base deshidratada para comida
          p.recent_post2
            a(href='gloria.html') GLORIA
            br
            small Jugos, néctares y saborizadas
          p.recent_post2
            a(href='universal.html') UNIVERSAL
            br
            small Postres instantáneos
          p.recent_post2
            a(href='lindley.html') ARCA CONTINENTAL
            br
            small Gaseosas
          p.recent_post2
            a(href='perucheff.html') PERU CHEFF
            br
            small Menestras
          p.recent_post2
            a(href='peruchefft.html') PERU CHEFF
            br
            small Condimentos
          p.recent_post2
            a(href='perucheffc.html') PERU CHEFF
            br
            small Congelados
          p.recent_post2
            a(href='tabernero.html') TABERNERO
            br
            small Vinos, piscos y espumantes
          p.recent_post2
            a(href='cusquena.html') CUSQUENA
            br
            small Cerveza rubia y malta
          p.recent_post2
            a(href='cartavio.html') CARTAVIO
            br
            small Ron
          p.recent_post2
            a(href='intipalka.html') INTIPALKA
            br
            small Vinos
          p.recent_post2
            a(href='hornimans.html') HORNIMANS
            br
            small Infusiones
          p.recent_post2
            a(href='inca_sur.html') INCASUR
            br
            small Tableta para taza
          p.recent_post2
            a(href='kikko.html') KIKKO
            br
            small Siyau y vinagre
        #box2.content_box1
          p
            a.espanoli_link(href='index.html')
            a.nihongoi_link(href='index2.html', name='top')
            a.portuguesi_link(href='index4.html', name='top')
            a.pp1(href='anuncio.html')
        #box2.content_box2
          a.pp2(href='paneton.html')
          a.pp3(href='inca_sur.html')
          a.pp4(href='tabernero.html')
        #box3.content_box3
          p
            a.prom(href='piscobase.html')
        #box3.content_box4
          p
            a.nov(href='novedades.html')
        #box4.content_box5
          a.mail(href='mailto:info@gyc-corp.com')
        .clear
 
      include blocks/footer
  
