doctype html
html
  head
    meta(charset='utf-8')
    meta(name='description', content='importadora de productos peruanos')
    meta(name='keywords', content='pisco,pisco sour, peru,wasska,chifles,gelatinas,mote gigante,vinos,paneton,chocolate,ekeko,artesania,inca kola,crush,cusquena,malta,importadora,peruana,g&c,gyc,corporation,infusiones,snacks,papas,nativas')
    title G&C CORPORATION - Importadora de productos peruanos      
    link(rel='stylesheet', href='/css/reset.css' )
    link(rel='stylesheet', href='/css/style.css' )
    link(rel='stylesheet', href='/css/template_style.css' )
    link(rel='stylesheet', href='/css/superfish.css' )
  body
