#menu_wrap
  ul.sf-menu
    li
      a.current(href='index.html') INICIO
    li
      a(href='empresa.html') EMPRESA
    li
      a(href='productos.html') PRODUCTOS
    li
      a(href='contacto.html') CONTACT
    li
      a(href='link.html') LINKS
