#content_wrap.content_bg_nosidebar
  .clear
  .sidebar_box
    h2 PRODUCTOS
    p.recent_post2
      a(href='provenzal.html') PROVENZAL
      br
      small Base deshidratada para comidas
    p.recent_post2
      a(href='gloria.html') GLORIA
      br
      small Jugos, néctares y saborizadas
    p.recent_post2
      a(href='universal.html') UNIVERSAL
      br
      small Postres instantáneos
    p.recent_post2
      a(href='lindley.html') LINDLEY
      br
      small Gaseosas
    p.recent_post2
      a(href='perucheff.html') PERU CHEFF
      br
      small Menestras
    p.recent_post2
      a(href='peruchefft.html') PERU CHEFF
      br
      small Condimentos
    p.recent_post2
      a(href='perucheffc.html') PERU CHEFF
      br
      small Congelados
    p.recent_post2
      a(href='tabernero.html') TABERNERO
      br
      small Vinos, piscos y espumantes
    p.recent_post2
      a(href='cusquena.html') CUSQUENA
      br
      small Cerveza rubia y malta
    p.recent_post2
      a(href='cartavio.html') CARTAVIO
      br
      small Ron
    p.recent_post2
      a(href='intipalka.html') INTIPALKA
      br
      small Vinos
    p.recent_post2
      a(href='hornimans.html') HORNIMANS
      br
      small Infusiones
    p.recent_post2
      a(href='inca_sur.html') INCASUR
      br
      small Tableta para taza
    p.recent_post2
      a(href='kikko.html') KIKKO
      br
      small Siyau y vinagre
